* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 30px;
  margin-left: 45%;
  margin-top: 5%;
  background-color: blueviolet;
  border-radius: 50px;
}

.container {
  margin-top: 7%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
