@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 800px) {
  .container > div {
    flex-direction: row;
    flex: 20%;
  }
}

@media only screen and (max-width: 560px) {
  .container > div {
    flex-direction: row;
  }
}
