/* big tablet/small pc 1024 to 1200px */
@media only screen and (max-width: 1200px) {
  .ronnie-text-box {
    position: absolute;
    width: 100%;
    padding: 0 25;
  }
  .row {
    padding: 0 25;
  }
}

/* small tablet/big tablet 768 to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }

  .steps-box {
    margin-top: 10px;
  }
  .step-box:last-child {
    margin-top: 10px;
  }
  .works-steps {
    margin-bottom: 40px;
  }
  .works-step:last-of-type {
    margin-bottom: 60px;
  }
  app-screen {
    width: 50%;
  }
}

/* small Phones/small tablets 481 to 767px */
@media only screen and (max-width: 767px) {
  .main-nav {
    display: none;
  }
}

/* small Phone 0 to 480px */
@media only screen and (max-width: 480px) {
}
