/* -------------------*/
/* basic setup*/
/*-------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  color: lightgray;
  font-family: "Lato", "Arial", "sans-serif";
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* -------------------*/
/* reusable components*/
/*-------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ------Headings--------*/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #fff;
  font-size: 200%;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: blueviolet;
  content: " ";
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}
/* -------PARAGRAPHS--------*/
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* -------Buttons--------*/

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
  background-color: rgb(99, 61, 135);
}

.btn-steriods:link,
.btn-steriods:visited {
  background-color: blueviolet;
  border: 1px solid blueviolet;
  color: #fff;
  margin-right: 30px;
}

.btn-show:link,
.btn-show:visited {
  border: 1px solid blueviolet;
  color: blueviolet;
}

.btn-steriods:hover,
.btn-steriods:active {
  border: 1px solid rgb(99, 61, 135);
}

.btn-show:hover,
.btn-show:active {
  border: 1px solid rgb(99, 61, 135);
  color: #fff;
}

/* -------------------*/
/* Header*/
/*-------------------*/

header {
  background-image: linear-gradient(
      rgba(243, 4, 127, 0.5),
      rgba(243, 4, 127, 0.5)
    ),
    url(img/ronnie.jfif);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.ronnie-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  border-radius: 150px;
  margin-top: 15px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 40px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 5px 0 5px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid blueviolet;
}

/* -------------------*/
/* features */
/*-------------------*/

.section-features .long-copy {
  margin-bottom: 40px;
}

/* -------------------*/
/* BodyBuilders */
/*-------------------*/

.section-bodybuilders {
  padding: 0;
}

.bodybuilders-showcase {
  list-style: none;
  width: 100%;
}

.bodybuilders-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.bodybuilder-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: blueviolet;
}

.bodybuilder-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.3s, opacity 0.3s;
}

.bodybuilder-photo img:hover {
  opacity: 1;
  transform: scale(1.04);
}

/* -------------------*/
/* how it works */
/*-------------------*/

.section-steps {
  background-color: rgba(243, 240, 234, 0.551);
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.jay-screen {
  width: 80%;
}

.works-steps {
  margin-bottom: 50px;
}

.works-steps:last-of-type {
  margin-bottom: 80px;
}

.works-steps div {
  color: blueviolet;
  border: 2px solid blueviolet;
  display: inline-block;
  border-radius: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font: 150%;
  margin-right: 25px;
}

.btn-app img {
  height: 120px;
  width: auto;
  margin-right: 10px;
}
